.navbar-nav a.active {
    background-color: #e7e7e7 !important;
    color: #555 !important;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.orange-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: .5em solid #E84D0E;
    font-size: 1em;
    line-height: 1.1em;
    color: #ffffff;
    background-color: #e84d0e;
    margin: auto;
    border-radius: 50%;
    height: 7em;
    width: 7em;
    position: relative;
}
.orange-circle-button:hover {
    color:#ffffff;
    background-color: #e84d0e;
    text-decoration: none;
    border-color: #ff7536;

}
.orange-circle-button:visited {
    color:#ffffff;
    background-color: #e84d0e;
    text-decoration: none;

}
.orange-circle-link-greater-than {
    font-size: 1em;
}

.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}

.btn-hot {
    color: #fff;
    background-color: #db5566;
    border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
    color: #fff;
    background-color: #df6a78;
    border-bottom:2px solid #b25560;
    outline: none;}


.btn-hot:active, .btn-hot.active {
    color: #fff;
    background-color: #c04b59;
    border-top:2px solid #9a3c47;
    margin-top: 2px;
}

.btn-sunny {
    color: #fff;
    background-color: #f4ad49;
    border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
    color: #fff;
    background-color: #f5b75f;
    border-bottom:2px solid #c4924c;
    outline: none;
}


.btn-sunny:active, .btn-sunny.active {
    color: #fff;
    background-color: #d69840;
    border-top:2px solid #ab7a33;
    margin-top: 2px;
}

.btn-fresh {
    color: #fff;
    background-color: #51bf87;
    border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
    color: #fff;
    background-color: #66c796;
    border-bottom:2px solid #529f78;
    outline: none;
}


.btn-fresh:active, .btn-fresh.active {
    color: #fff;
    background-color: #47a877;
    border-top:2px solid #39865f;
    outline: none;
    outline-offset: none;
    margin-top: 2px;
}

.btn-sky {
    color: #fff;
    background-color: #0bacd3;
    border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
    color: #fff;
    background-color: #29b6d8;
    border-bottom:2px solid #2192ad;
    outline: none;
}

.btn-sky:active, .btn-sky.active {
    color: #fff;
    background-color: #0a97b9;
    border-top:2px solid #087994;
    outline-offset: none;
    margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

.btn a {color:#fff;}
.btn a:hover {text-decoration:none; color:#fff;}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*=============== Home-team ===============*/

.home-doctors {
    text-align: center;
    padding: 70px 0 80px;
    background: #f0f5f6;
}

.home-doctors h2 {
    font-weight: normal;
}

.home-doctors .common-doctor {
    background-color: #fff;
}
.home-doctors .common-doctor figure {
    overflow: hidden;
    width: 100%;
    height: 196px;
}

.home-doctors img {
    width: 100%;
    height: auto;
    margin-top: -6em;
}

.home-doctors .common-doctor h5 {
    margin: 0 0 7px;
    font-size: 18px;
    font-weight: 700;
    color: #3a3c41;
}
.home-doctors .common-doctor .for-border {
    margin-bottom: 20px;
}
.home-doctors .common-doctor .text-content {
    padding: 19px 14px 13px;
}
.home-doctors.doctors-var-two {
    text-align: left;
    background-color: #fff;
}
.home-doctors.doctors-var-two .slogan-section {
    text-align: left;
}
.home-doctors.doctors-var-two .common-doctor {
    background-color: transparent;
}
.home-doctors.doctors-var-two .common-doctor .for-border {
    display: none;
}
.home-doctors.doctors-var-two .common-doctor .text-content {
    padding: 20px 0 20px;
}
.home-doctors.doctors-var-two .text-center {
    text-align: left;
}

.slogan-section {
    margin-bottom: 50px;
    text-align: center;
}

.home-doctors .common-doctor .for-border {
    margin-bottom: 20px;
}

.for-border {
    height: 11px;
    width: 100%;
    background: transparent url(http://omarhabash.com/nova/wp-content/uploads/2014/08/feature-border.png) center center no-repeat;
    border: none;
}

.home-doctors .common-doctor h5 small {
    color: #008fd5;
    font-weight: bold;
    font-size: 0.8em;
    font-style: italic;
}

.home-doctors .common-doctor ul{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -28px;
    text-align: center;
    margin-top: 10em;
    opacity: 0;
    z-index: 1;
}

.home-doctors .common-doctor li a {
    background: #008fd5;
    color: white;
    padding: 0.75em;
    border: 5px solid rgba(255, 255, 255, 0.33);
}


.doc-img{
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
-webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1, 1);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1, 1);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;
}

.doc-item:hover .doc-img{
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
-webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1.20, 1.20);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;

    opacity: 0.7;
}

.doc-item:hover .social-lists{
    margin-top: -2em;
    opacity: 1;
}

/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

.kanban-centered {
    position: relative;
    margin-bottom: 30px;
}

.kanban-centered:before, .kanban-centered:after {
    content: " ";
    display: table;
}

.kanban-centered:after {
    clear: both;
}

.kanban-centered:before, .kanban-centered:after {
    content: " ";
    display: table;
}

.kanban-centered:after {
    clear: both;
}

.kanban-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    /*background: #f5f5f6;*/
    top: 20px;
    bottom: 20px;
    /*margin-left: 18px;*/
}

.kanban-centered .kanban-entry {
    position: relative;
    /*width: 50%;
    float: right;*/
    margin: 10px 8px;
    clear: both;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
}

.kanban-centered .kanban-entry:before, .kanban-centered .kanban-entry:after {
    content: " ";
    display: table;
}

.kanban-centered .kanban-entry:after {
    clear: both;
}

.kanban-centered .kanban-entry:before, .kanban-centered .kanban-entry:after {
    content: " ";
    display: table;
}

.kanban-centered .kanban-entry:after {
    clear: both;
}

.kanban-centered .kanban-entry.begin {
    margin-bottom: 0;
}

.kanban-centered .kanban-entry.left-aligned {
    float: left;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-time {
    left: auto;
    right: -100px;
    text-align: left;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-icon {
    float: right;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-label {
    margin-left: 0;
    margin-right: 70px;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.kanban-centered .kanban-entry .kanban-entry-inner {
    position: relative;
    /*margin-left: -24px;*/
}

.kanban-centered .kanban-entry .kanban-entry-inner:before, .kanban-centered .kanban-entry .kanban-entry-inner:after {
    content: " ";
    display: table;
}

.kanban-centered .kanban-entry .kanban-entry-inner:after {
    clear: both;
}

.kanban-centered .kanban-entry .kanban-entry-inner:before, .kanban-centered .kanban-entry .kanban-entry-inner:after {
    content: " ";
    display: table;
}

.kanban-centered .kanban-entry .kanban-entry-inner:after {
    clear: both;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-time > span {
    display: block;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-time > span:last-child {
    font-size: 12px;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 25px;
    height: 25px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 4px #f5f5f6;
    -webkit-box-shadow: 0 0 0 4px #f5f5f6;
    box-shadow: 0 0 0 4px #f5f5f6;
    float: left;
    margin-top: 6px;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-success {
    background-color: #00a651;
    color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-label {
    position: relative;
    background: #f5f5f6;
    padding: 0.75em;
    /*margin-left: 50px;*/
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*.kanban-centered .kanban-entry .kanban-entry-inner .kanban-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}*/

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2, .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label p {
    color: #737881;
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-label p + p {
    margin-top: 15px;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2 a {
    color: #303641;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}

.kanban-col {
    width: 300px;
    margin-right: 20px;
    float: left;
}