<div class="col-md-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="text-center">
                Create your own team</h4>
        </div>
        <div class="panel-body text-center">
            <p class="lead">
                <strong>FREE</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i>MAX 30 members</li>
        </ul>
        <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" data-toggle="modal" data-target="#myModal">Create</a>
        </div>
    </div>
</div>
<div class="col-md-4" *ngFor="let a of teams">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="text-center">
                {{a.name}}</h4>
        </div>
        <div class="panel-body text-center">
            <p class="lead">
                <strong>Owner: normunds</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i>{{a.description}}</li>
        </ul>
        <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" routerLink="/team/{{a.id}}">Check</a>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Team</h4>
            </div>
            <div class="modal-body">
                <label>Name</label>
                <input type="text" name="title" id="title" class="form-control" [(ngModel)] = "name" required />
                <label>Description</label>
                <textarea class="form-control" rows="5" id="content" [(ngModel)] = "description" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="createTeam()" data-dismiss="modal">Create</button>
            </div>
        </div>

    </div>
</div>