<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Write new article</button>
<div class="row" *ngIf="news">
    <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let a of news">
        <div class="thumbnail">
            <div class="caption">
                <h4 class="text-center">{{a.title}}</h4>
                <p>
                    {{a.content}}
                </p>
            </div>
            <button type="button" class="btn btn-hot text-capitalize btn-xs"><a routerLink="/news/read/{{a.id}}">Read article</a></button>
        </div>
    </div>
</div>
<div class="row" *ngIf="news">
    <ul class="pager">
        <li><a href="#" (click)="decreasePage()">Previous</a></li>
        <li><a href="#" (click)="increasePage()">Next</a></li>
    </ul>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New article</h4>
            </div>
            <div class="modal-body">
                <label>Title</label>
                <input type="text" name="title" id="title" class="form-control" [(ngModel)] = "title" required />
                <label>Content</label>
                <textarea class="form-control" rows="5" id="content" [(ngModel)] = "content" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="createNews()" data-dismiss="modal">Post</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>