<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/teams" routerLinkActive="active" *ngIf="isLoggedIn()">Teams</a></li>
        </ul>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/registration" routerLinkActive="active" *ngIf="!isLoggedIn()">
        <span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn()">
        <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a routerLink="/profile" routerLinkActive="active" *ngIf="isLoggedIn()">
        <span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a routerLink="/messages" routerLinkActive="active" *ngIf="isLoggedIn()">
        <span class="glyphicon glyphicon-envelope"></span> Messages <span class="badge">1</span></a></li>
      <li><a routerLink="/home" *ngIf="isLoggedIn()" (click) = "logout()">
        <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <!-- routing here -->
    <router-outlet></router-outlet>
  </div>
</div>