<div class="container">
    <div class="row">
        <div class="col-md-7 ">

            <div class="panel panel-default" *ngIf="user">
                <div class="panel-heading"><h4>User Profile</h4></div>
                <div class="panel-body">

                    <div class="box box-info">

                        <div class="box-body">
                            <div class="col-sm-6">
                                <div align="center"><img alt="User Pic"
                                                         src="{{user.profilePicture}}"
                                                         id="profile-image1" class="img-circle img-responsive">

                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <div style="color:#999;"><a data-toggle="modal" data-target="#myModal"> click here</a> to update profile</div>
                                    <!--Upload Image Js And Css-->


                                </div>

                                <br>

                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-6">
                                <h4 style="color:#00b1b1;">{{user.usrUsername}}</h4>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">


                            <div class="col-sm-5 col-xs-6 tital ">First Name:</div>
                            <div class="col-sm-7 col-xs-6 ">{{user.name}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Last Name:</div>
                            <div class="col-sm-7"> {{user.surname}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update profile</h4>
            </div>
            <div class="modal-body">
                <label>Name</label>
                <input type="text" name="title" id="name" class="form-control" [(ngModel)]="name" required/>
                <label>Surname</label>
                <input type="text" name="title" id="surname" class="form-control" [(ngModel)]="surname" required/>
                <label>Profile Picture</label>
                <textarea class="form-control" rows="5" id="content" [(ngModel)]="profilePicture" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="updateProfile()" data-dismiss="modal">Update
                </button>
            </div>
        </div>

    </div>
</div>