<div class="container col-lg-12 main" *ngIf="new">
    <div class="col-lg-12 post">
        <div class="container">
            <h2>{{new.title}}</h2>
            <div class="body-text">

                <p class='text-muted ubuntu'>By {{new.authorName}} {{new.authorSurname}} | {{new.dateCreated}}</p>
                <br>
                <p>{{new.content}}</p>
            </div>
        </div>
    </div>
</div>
<p>-----------------------------------------------</p>
<div class="container col-lg-12 main">
    <ul class="list-group" *ngIf="comments">
        <li class="list-group-item" *ngFor="let comment of comments">
            <div class="pull-left hidden-xs">
                <div>
                    <span class="glyphicon glyphicon-user"></span>
                </div>
            </div>
            <small class="pull-right text-muted">10.12.2014 in 12:56</small>
            <div>
                <small class="list-group-item-heading text-muted text-primary">{{comment.name}} {{comment.surname}}</small>
                <p class="list-group-item-text">
                    {{comment.content}}
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="container col-lg-12 main">
<div>
    <ul class="list-group" *ngIf="!comments">
        <p class="list-group-item-text">
            No comments yet.
        </p>
    </ul>
</div>
<!--chat_area-->
<div class="message_write">
    <textarea class="form-control" [(ngModel)] = "comment" placeholder="type a message"></textarea>
    <div class="clearfix"></div>
    <div class="chat_bottom"><a href="#" class="pull-left upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
        Add Files</a>
        <a href="#" (click)="addComment(); false" class="pull-right btn btn-success">
            Send</a></div>
</div>
</div>