<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 *ngIf="team">{{team.name}}</h3>
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                About</a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Members</a>
                        </li>
                        <li>
                            <a href="#tab_default_3" data-toggle="tab">
                                Projects</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            <br/>
                            <p *ngIf="team">
                                {{team.description}}
                            </p>
                        </div>
                        <div class="tab-pane" id="tab_default_2">
                            <br/>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2">
                                <span class="glyphicon glyphicon-plus-sign"></span>Add Member
                            </button>
                            <br/>
                            <div class="home-doctors  clearfix">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                                            <div class="slogan-section animated fadeInUp clearfix ae-animation-fadeInUp">
                                                <h2>Team member page</h2></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class=" col-lg-3 profile-header-container" *ngFor="let a of members">
                                            <div class="profile-header-img">
                                                <img class="img-circle" src="{{a.profilePicture}}" />
                                                <!-- badge -->
                                                <div class="rank-label-container">
                                                    <span class="label label-default rank-label">{{a.name}} {{a.surname}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_default_3">
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-success" data-toggle="modal" data-target="#myModal">Create</a>
                            </div>
                            <br/>
                            <div class="col-md-4" *ngFor="let a of projects">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="text-center">
                                            {{a.name}}</h4>
                                    </div>
                                    <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item"><i class="icon-ok text-danger"></i>{{a.description}}
                                        </li>
                                    </ul>
                                    <div class="panel-footer">
                                        <a class="btn btn-lg btn-block btn-success" routerLink="project/{{a.id}}">Go to
                                            project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Team</h4>
            </div>
            <div class="modal-body">
                <label>Name</label>
                <input type="text" name="title" id="title" class="form-control" [(ngModel)]="projectName" required/>
                <label>Description</label>
                <textarea class="form-control" rows="5" id="content" [(ngModel)]="projectDesc" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="createProject()" data-dismiss="modal">Create
                </button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new team member</h4>
            </div>
            <div class="modal-body">
                <label>Username</label>
                <input type="text" name="title" id="title2" class="form-control" [(ngModel)]="usrName" required/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="addMember()" data-dismiss="modal">Create
                </button>
            </div>
        </div>

    </div>
</div>
