<div id="sortableKanbanBoards" class="row">

    <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
            TODO
            <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body">
            <div id="TODO" class="kanban-centered" *ngIf="project">
                <article class="kanban-entry grab" id="item1" draggable="true" *ngFor="let a of openStories">
                    <div class="kanban-entry-inner">
                        <div class="kanban-label">
                            <h2><a data-target="#myModal2" data-toggle="modal" (click)="storyInfo(a)">{{a.name}}</a></h2>
                        </div>
                    </div>
                    <div class="panel-footer" *ngFor="let b of findOpenTasks(a)">
                        <a data-target="#myModal3" data-toggle="modal" (click)="taskInfo(b)">{{b.name}}</a>
                    </div>
                </article>
            </div>
        </div>
        <div class="panel-footer">
            <a data-target="#myModal" data-toggle="modal">Add new story</a>
        </div>
    </div>


    <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
            DOING
            <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body">
            <div id="DOING" class="kanban-centered">
                <article class="kanban-entry grab" id="item5" draggable="true" *ngFor="let a of inProgress">
                    <div class="kanban-entry-inner">
                        <div class="kanban-label">
                            <h2><a data-target="#myModal2" data-toggle="modal">{{a.name}}</a></h2>
                        </div>
                    </div>
                    <div class="panel-footer" *ngFor="let b of findInProgressTasks(a)">
                        <a data-target="#myModal3" data-toggle="modal" (click)="taskInfo(b)">{{b.name}}</a>
                    </div>
                </article>
            </div>
        </div>
    </div>


    <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
            DONE
            <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body">
            <div id="DONE" class="kanban-centered">
                <article class="kanban-entry grab" id="item6" draggable="true" *ngFor="let a of closedStories">
                    <div class="kanban-entry-inner">
                        <div class="kanban-label">
                            <h2><a data-target="#myModal2" data-toggle="modal">{{a.name}}</a></h2>
                        </div>
                    </div>
                    <div class="panel-footer" *ngFor="let b of findClosedTasks(a)">
                        <a data-target="#myModal3" data-toggle="modal" (click)="taskInfo(b)">{{b.name}}</a>
                    </div>
                </article>
                <article class="kanban-entry grab" id="item7" draggable="true" *ngFor="let a of openStories">
                    <div class="kanban-entry-inner">
                        <div class="kanban-label">
                            <h2><a data-target="#myModal2" data-toggle="modal">{{a.name}}</a></h2>
                        </div>
                    </div>
                    <div class="panel-footer" *ngFor="let b of findClosedTasks(a)">
                        <a data-target="#myModal3" data-toggle="modal" (click)="taskInfo(b)">{{b.name}}</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>




<!-- Create story -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Story</h4>
            </div>
            <div class="modal-body">
                <label>Story Name</label>
                <input type="text" name="title" id="title" class="form-control" [(ngModel)]="storyName" required/>
                <label>Story Description</label>
                <textarea class="form-control" rows="5" id="content" [(ngModel)]="storyDesc" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="createStory()" data-dismiss="modal">Create
                </button>
            </div>
        </div>

    </div>
</div>

<!-- Check story -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Story nr 3</h4>
            </div>
            <div class="modal-body">
                <label>Story Name</label>
                <label>Story Description</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="closeStory()" data-dismiss="modal">Close
                </button>
            </div>
        </div>

    </div>
</div>

<!-- Check task -->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{taskName}}</h4>
            </div>
            <div class="modal-body">
                <label>Task Description</label>
                <p>{{taskDesc}}</p>
                <label>Category</label>
                <p>{{taskCategory}}</p>
                <label>In Progress</label>
                <p>{{taskinProgress}}</p>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-success" *ngIf="!taskclosed && !taskinProgress" (click)="startTask()" data-dismiss="modal">Start task
                </button>
                <button type="button" class="btn btn-success" *ngIf="!taskclosed" (click)="closeTask()" data-dismiss="modal">Close task
                </button>
                <button type="button" class="btn btn-success" *ngIf="taskclosed" (click)="reOpenTask()" data-dismiss="modal">Reopen task
                </button>
            </div>
        </div>

    </div>
</div>